@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


.app {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #e0943d;
  box-shadow: inset 42px -42px 84px #1e1e1e,
            inset -42px 42px 84px #242424;
  min-height: 100vh;

}

html {
  background-color: #4A154A;
}

.main {
  background-color: #4A154A;
}

.slack-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  color: #fff;
}

.user-login {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.login-form {
  border: solid 1px rgb(239, 216, 6);
  padding: 30px;
  border-radius: 20px;
  background-color: rgb(239, 216, 6);;
}

.register-form {
  border: solid 1px rgb(239, 216, 6);
  padding: 30px;
  border-radius: 20px;
  background-color: rgb(239, 216, 6);
}

.slogan {
  text-align: center;
  color: #fff;
  margin-top: 24px;
  font-size: x-large;
}